body {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.result_screen {
    width: 1000px;
    height: 200px;
    border: 2px solid black;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

}

.numbers_operators_container {
    width: 1000px;
    height: auto;
    margin: 30px;
    border: 2px solid black;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.numbers_operators_box {
    width: 150px;
    height: 100px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}